<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>retour</title>
	<style src='./retour.css'></style>
</head>
<body>
	<div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aliquam sed quo? Praesentium aliquam modi nesciunt magnam explicabo cupiditate, asperiores tempore tempora? Cupiditate consequatur sit, voluptatum voluptatibus impedit omnis explicabo?
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis porro soluta, inventore id consequuntur ut a, voluptatibus animi, incidunt quaerat nemo consectetur ab, earum. Dolores odio modi voluptate, sit possimus.
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et excepturi ipsa natus, ducimus, eum quod. Aperiam, doloremque! Beatae ex ipsum officiis, sint sapiente impedit, nulla cum atque est minima, fugiat?
		</p>
	</div>
</body>
</html>